[mysqld]
server-id=10000001

skip-host-cache
skip-name-resolve

max_connections=20000
character-set-server=utf8

auto_increment_increment=2
auto_increment_offset=1

log-bin=mysql-bin
log-bin-trust-function-creators=1
log-slave-updates=on

binlog-ignore-db=information_schema
binlog-ignore-db=mysql
binlog-ignore-db=performance_schema
binlog-ignore-db=sys

binlog-do-db=kvstore

replicate-ignore-db=information_schema
replicate-ignore-db=mysql
replicate-ignore-db=performance_schema
replicate-ignore-db=sys

replicate_wild_ignore_table=information_schema.%
replicate_wild_ignore_table=mysql.%
replicate_wild_ignore_table=performance_schema.%
replicate_wild_ignore_table=sys.%
